{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-typescript",
        "@babel/preset-flow",
        "module:metro-react-native-babel-preset"
    ],
    "plugins": [
        ["styled-components", { "ssr": true, "displayName": true } ]
    ]
}